<br />
<br />
<br />
<div class="limiter">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="mt-5">Forgot Password</h2>

            <div class="col-md-6">
                <form [formGroup]="forgotPassForm" (ngSubmit)="resetPassword()">
                    <mat-form-field class="example-full-width">
                        <!-- Mobile field -->
                        <mat-label class="i1">Mobile Number*:</mat-label>
                        <input matInput  type="text" placeholder="ex:9876879761" formControlName="mobile">
                        <mat-icon matSuffix>smartphone</mat-icon>
                        <mat-hint>Do not share to anyone</mat-hint>
                        <mat-error *ngIf="forgotPassForm.get('mobile').hasError('required')">
                          Mobile Number is Required!
                        </mat-error>
                        <mat-error *ngIf="forgotPassForm.get('mobile').hasError('minlength')">
                          Mobile Number should be atleast 10 digits long!
                        </mat-error>
                    
                        <mat-error *ngIf="forgotPassForm.get('mobile').hasError('maxlength')">
                          Mobile can be atmax 10 digits long!
                        </mat-error>
                    
                        <mat-error *ngIf="forgotPassForm.get('mobile').hasError('pattern')">
                        Mobile Number must starts with 6,7,8 or 9!
                        </mat-error>
                        <!-- Mobile  field ends -->
                      </mat-form-field>
                     
              
                    <br/>
                  <br/>


                    <!-- Start of Security question field -->
                    <div class="col-lg-11">
                        <div class="input-group mb-3 input-field">
                            <span style="margin-top: 20px; margin-left:2px;">Choose Security Question</span>
                            <select placeholder="Question List" formControlName="securityQ">
            
                                <option *ngFor="let question of securityQuestion" [ngValue]="question">
                                    {{ question }}
                                </option>
                            </select>
                            <hr>
                        </div>
                        <!-- Validation Messages -->
                        <div *ngIf="submitted && forgotPassForm.controls.securityQ.errors">
                            <div class="text-danger" *ngIf="forgotPassForm.controls.securityQ.errors.required">
                                Security Question is required ..!
                            </div>
            
                        </div>
            
                    </div>
            
                    <mat-form-field class="example-full-width">
                        <!-- Balance field -->
                        <mat-label class="i1">Security Answer*:</mat-label>
                        <input matInput  type="text" placeholder="ex:Shaktiman" formControlName="securityA">
                        <mat-icon matSuffix>question_answer</mat-icon>
                        <mat-hint>Do not share to anyone</mat-hint>
                        <mat-error *ngIf="forgotPassForm.get('securityA').hasError('required')">
                            Security Answer is Required!
                        </mat-error>
                      
                    
                      
                    
                      </mat-form-field>

                    <button type="submit" class="SubmitButton">Submit</button> &nbsp;
                    <button class="CancelButton " routerLink="/login">Cancel</button> &nbsp;

                </form>
            </div>

        </div>
        <div class="col-lg-6">
            <img class="m" src="assets/images/forgotpassword.png">
        </div>
    </div>
</div>