.limiter {
    width: 100%;
    margin: 0 auto;
  }
  .SubmitButton {
    width: 230px;
    border-radius: 25px;
    background-color: yellowgreen;
    outline: none;
    /* margin-left: 20%; */
}
.CancelButton {
  width: 230px;
  border-radius: 25px;
  background-color: pink;
  outline: none;
  /* margin-left: 20%; */
}

.cancelButton:hover {
  background-color: red;
}
@keyframes transitionIn{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
  @media only screen and (min-width: 1000px) {
    .m
    {
        margin-top: 40px;
        margin-left: 50px;
        border-radius: 1cm;
        width: 90%;
        height: 60%;
    }
  }
  @media only screen and (max-width: 1000px) {
  .m{
      margin-top: 20px;
      margin-left: 10px;
      border-radius: 1cm;
      width: 40%;
      height: 50%;
  }
  }
  
  input {
      background-color: rgba(255, 255, 255, 0);
      outline: none;
      border: none;
  }
  
  @media only screen and (min-width: 300px) and (max-width:1000px) {
  
      select
      {
          width: 10%;
      }
    }