<app-general-header></app-general-header>
<!-- app header component is used for displaying the header to the user until it loggedIn in the application 
Header will display Home About us Why us Contact us links-->
<br/>
<div class="about-section">
  <h1>About Us </h1>
  <p class="try">Speed up the Payment process</p>
  <hr class="new1">
  <br />
  <p style="font-size: 22px;">
    Innovil Wallet is a leading Online Wallet Service in India. The Wallet's consolidated total assets stood at Rs.12.50
    trillion at June 30, 2019. Innovil Wallet currently has a network of 5,275 users and 15,589 cards added across
    India.</p>
  <p class="new2">Our Vission:</p>
  <p style="font-size: 20px;">To Become the wallet of choice for corporate, medium business and upmarket retail
    customers and developmental wallet service for small business, mass market and rural market.</p>
  <p class="new3">Our Mission:</p>
  <p style="font-size: 20px;">To provide superior, proactive wallet services to niche market globally, while providing
    cost effective, responsive service to others in our role as a development wallet.</p>
  <hr>
  <h3 class="his">History</h3>
  <p style="font-size: 20px;">Innovil wallet was founded on 7th September, 1906 by a group of eminent businessmen from
    Mumbai. The Wallet was under private ownership and control till July 1969 when it was nationalised along with 13
    other services.
    Inovil wallet was originally promoted in 1994 by Innovil Limited, an Indian financial institution, and was its
    wholly-owned subsidiary.</p>
  <p style="font-size: 20px;"> Presently wallet has overseas presence in 18 foreign countries spread over 5 continents –
    with 52 offices including 4 Subsidiaries, 1 Representative Office and 1 Joint Venture, at key banking and financial
    centres viz., Tokyo, Singapore, Hong Kong, London, Paris and New York.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/ceo.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Dyno Park</h2>
        <p class="title">CEO & Founder</p>
        <p>Successful Entrepreneur who works day and night so he can helps some needy person in their tough times.He
          grew up in a defence services family and has attended several colleges before completing his management
          studies from XLRI in Jamshedpur.</p>
        <p>Dyno@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/executive director.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Jennifer joe</h2>
        <p class="title">Executive Director</p>
        <p>An Executive Director on the Board of Innovil Wallet since February 1, 2017. Prior to this, Miss. Jennifer
          was the Managing Director & CEO of Innovil Securities Limited. Under her leadership, Innovi Securities won
          several prestigious awards in the financial services space.</p>
        <p>jennifer@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/managing director.jpeg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Independent Director</p>
        <p>Mr. John Doe has around 37 years of experience in Accountancy, Economics, Finance, Law, Information
          Technology, Human Resources, Risk Management and Business Management. He started his career with Sky Limited.
          His presence of mind is what others members wishes to have. He always lead his team with the front.</p>
        <p>john@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>