<app-header></app-header>
<br />
<br />
<br />
<div class="animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mt-5">Change Password</h2>
                <div class="container row mb-5" style="margin-top: 2%;">
                    <div class="col-md-6">
                        <div class="alert alert-danger" *ngIf="errorMessage">
                            {{errorMessage}}
                        </div>
                        <form [formGroup]="changePasswordForm" (ngSubmit)="verifyAndChangePassword()">
                            <div class="form-group">
                                <div class="input-group mb-3 input-field">
                                    <span><img
                                            src="https://img.icons8.com/ios-filled/50/000000/password.png" /></span>&nbsp;&nbsp;
                                    <input type="password" class="form-control" formControlName="oldPassword"
                                        placeholder="Old Password" />
                                </div>
                                <div *ngIf="submitted && changePasswordForm.controls.oldPassword.errors" class="error">
                                    <div class="text-danger"
                                        *ngIf="changePasswordForm.controls.oldPassword.errors.required">
                                        Current Password is required ..
                                    </div>

                                </div>
                            </div> <!-- end of Current password -->
                            <div class="form-group">
                                <div class="input-group mb-3 input-field">
                                    <span><img
                                            src="https://img.icons8.com/ios-filled/50/000000/password.png" /></span>&nbsp;&nbsp;
                                    <input type="password" class="form-control" formControlName="newPassword"
                                        placeholder="New Password" />
                                </div>
                                <div *ngIf="submitted && changePasswordForm.controls.newPassword.errors" class="error">
                                    <div class="text-danger"
                                        *ngIf="changePasswordForm.controls.newPassword.errors.pattern">
                                        Password must contain atleast 9 character, 1 lowercase letter, 1 uppercase
                                        letter, 1
                                        Number and
                                        1 special
                                        character ..
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="changePasswordForm.controls.newPassword.errors.required">
                                        Password is required ..
                                    </div>

                                </div>
                            </div>
                            <!-- end of password -->
                            <div class="form-group">
                                <div class="input-group mb-3 input-field">
                                    <span><img
                                            src="https://img.icons8.com/ios-filled/50/000000/password.png" /></span>&nbsp;&nbsp;
                                    <input type="password" [class.is-invalid]="changePasswordForm.errors?.misMatch"
                                        class="form-control" formControlName="confirmPassword"
                                        placeholder="Confirm Password" />
                                </div>
                                <div class="text-danger" *ngIf="changePasswordForm.errors?.misMatch">Password do not
                                    match</div>
                                <div *ngIf="submitted && changePasswordForm.controls.confirmPassword.errors"
                                    class="error">
                                    <div class="text-danger"
                                        *ngIf="changePasswordForm.controls.confirmPassword.errors.required">
                                        Password is required ..
                                    </div>
                                </div>
                            </div>
                            <button class="changePass">Change Password</button> &nbsp;
                            <button class="cancelButton" (click)="cancel()" type="reset">Cancel</button> &nbsp;
                            <br /><br />

                            <br /><br />

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="m" src="assets/images/changepassword.gif">
            </div>
        </div>
    </div>
</div>