.form-container {
  display: flex;
  flex-direction: column;
  color:red;
}

.form-container > * {
  width: 100%;
}
.style2 {
  font-family:Cambria;
  font-style: italic;
  font-weight: bolder;
  word-spacing: 1;
  color:darkolivegreen;
 }
.i1
{
font-size: 16px;
color: rgba(73, 5, 102, 0.849);
}

input {
  background-color: rgba(145, 80, 219, 0);
  outline: none;
  border: none;
}

.animated{
  animation: transitionIn 0.75s;
}
@keyframes transitionIn{
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}


input {
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
}

.b1
{
  border-radius: 1cm;
}
.sign
{
  color: rgb(3, 46, 139);

}

.example-button {
  margin-top: 16px;
}

.example-tooltip-red {
  background: #b71c1c;
}








.slidebox h2{
color: rgba(58, 53, 53, 0.795);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
padding-left: 0%;
padding-top: 0%;
margin-top: 0;
text-align: centre;
font-size: 38.2px;
}
.slidebox p{
color: rgb(2, 2, 2);
font-size: 16.2px;

text-align: justify;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
padding-left: 1%;
padding-top: 0%;
margin-top: 0;
}
.slidebox
{
width: 1400px;
height: 698px;

top: 50%;
left: 70%;
color: #fff;
/* background: rgb(0, 0, 0); */
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 42px;
}
.main{ 
margin-top: -20px;
margin-left: -3px;
height: 60vh;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


.slider{

height: 300px;
width: 530px;
margin-top: 300px;
margin-left:auto; 
margin-right:70px;
border-radius: 1cm;

/* box-shadow: 0px 0px 20px #000; */
overflow: hidden;
}

.slider figure{
width: 500%;
height: 100%;
position: relative;
left: 0%;
animation: 28s infinite slide;
}

.slider figure img{
width: 20%;
height: 100%;
float: left;
}

@keyframes slide{
0%{
  left: 0%;
}
20%{
  left: -100%;
}
40%{
  left: -200%;
}
60%{
  left: -300%;
}
80%{
  left: -400%;
}
100%{
  left: 0%;
}

}

.slide
{
width: 50%;
height: 50%;
margin-top: 200px;
}