.form-container {
    display: flex;
    flex-direction: column;
    color:red;
  }
  
  .form-container > * {
    width: 100%;
  }
  .style2 {
    font-family:Cambria;
    font-style: italic;
    font-weight: bolder;
    word-spacing: 1;
    color:darkolivegreen;
   }
.i1
{
  font-size: 16px;
color: rgba(73, 5, 102, 0.849);
}

input {
    background-color: rgba(145, 80, 219, 0);
    outline: none;
    border: none;
}

.animated{
    animation: transitionIn 0.75s;
  }
  @keyframes transitionIn{
    from{
      opacity: 0;
      transform: translateY(20px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @media only screen and (min-width: 1000px) {
  .m
  {
      margin-top: 40px;
      margin-left: 50px;
      border-radius: 1cm;
      width: 90%;
      height: 60%;
  }
}
@media only screen and (max-width: 1000px) {
.m{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 1cm;
    width: 50%;
    height: 50%;
}
}

input {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

@media only screen and (min-width: 300px) and (max-width:1000px) {

    select
    {
        width: 10%;
    }
}
